<script>
  // Initialize tooltips
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="position: relative;">
  <div *ngIf="!!errorMessenger" class="toast show" style="position: absolute;
  z-index: 1;
  right: 1cm;
  top: 4cm;
  border: 2px solid #e88181;
  background: #f2f2f2;">
    <div class="toast-header">
      <strong class="me-auto">Error Messenger</strong>
      <button type="button" class="btn-close" (click)="open()"></button>
    </div>
    <div class="toast-body">
      <p>{{errorMessenger}}</p>
    </div>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)"><img src="/assets/images/Icon Easy Plus AIS 6.png" width="80px"
        alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" style="font-size: 24px;">TOOLKIT</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <h2>MENU NEWLGOIN</h2>
  <form [formGroup]="myForm">
    <!-- <input type="text" placeholder="AccessToken" formControlName="AccessToken">
  <input type="text" placeholder="Enviroment" formControlName="Enviroment"> -->
    <select id="Roleuser" formControlName="Roleuser">
      <option value="Roleuser">{{_channel}}</option>
      <option *ngFor="let _channel of roleList">{{_channel}}</option>
    </select>

    <select formControlName="channelType">
      <option value="_channelType">{{_channelType}}</option>
      <option *ngFor="let _channelType of channelTypeList">{{_channelType}}</option>
    </select>
    <!-- <select formControlName="locationCode" [value]="_channel" (change)="checkSelectRole()">
    <option *ngFor="let _channel of locationList" [value]="_channel" >{{_channel}}</option>
  </select> -->
    <input type="text" placeholder="locationCode" formControlName="locationCode">
    <input type="text" placeholder="AccessToken" formControlName="AccessToken">

    <!-- <input type="text" placeholder="Roleuser" formControlName="Roleuser"> -->
    <!-- <input type="text" placeholder="channelType" formControlName="channelType"> -->
    <button type="submit" (click)="getDataMenu()" style="width: 80px;">Click</button>
    <button type="submit" (click)="getDataMenuAll()" style="width: 80px;">All</button>
    <button (click)="clear()" style="width: 80px;">Clear</button>
  </form>

  <div>
    <hr>

    <h2>MENU TOPIC</h2>
    <div class="row">
      <div *ngFor="let data of dataList; let i = index" class="col-2" style="position: relative;">
        <div style="position: absolute;right: 2rem; top: 0px;cursor: pointer;" data-bs-toggle="modal"
          data-bs-target="#myMenu" (click)="showDetail(data)">
          <img src="/assets/images/icon/i-c.png" alt="" width="25px" height="25px">
        </div>
        <div class="text-center mt-2" (click)="showSubTopic(data['outTopicGroup'])">
          <div *ngIf="!data['imgBase64']" style="width: 80px;height: 80px;"></div>
          <img *ngIf="data['imgBase64']" [src]="byPass(data)" width="80px" alt=""><br>
          <span>{{i+1}}. {{data['outTopicName']}}</span>
        </div>
      </div>
      <div class="col-2">
        <div class="text-center mt-2" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
          <!-- <div class="Add-icon"> -->
          <img src="/assets/images/icon-package-catalog.png" width="80px" alt=""><br>
          <span><b>เพิ่มเมนู</b></span>
        </div>
      </div>
    </div>

    <h2 class="mt-2">MENU SUB</h2>
    <div class="row">
      <div *ngFor="let data of ListSub; let i = index" class="col-2">
        <div class="text-center mt-2" style="position: relative; z-index: 0;" (click)="dropSub(data)">
          <div style="position: absolute;right: 2rem; top: 0px;cursor: pointer; z-index: 1;" data-bs-toggle="modal"
            data-bs-target="#myMenu" (click)="showDetail(data)">
            <img src="/assets/images/icon/i-c.png" alt="" width="25px" height="25px">
          </div>
          <img [src]="data['image']" width="80px" alt=""><br>
          <span>{{i+1}}. {{data['outSubTopicName']}} ({{data['topicGroup']||data['subTopicGroup']}})
            {{'('+data['menus']['length']+')'}} </span>
        </div>
      </div>
      <div class="col-2">
        <div class="text-center mt-2" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
          <!-- <div class="Add-icon"> -->
          <img src="/assets/images/icon-package-catalog.png" width="80px" alt=""><br>
          <span><b>เพิ่มเมนู</b></span>
        </div>
      </div>
    </div>


    <div class="row" *ngIf="subInsideList['length'] > 0">
      <h2 class="mt-2">{{subName['topicGroup']}} > {{subName['outSubTopicName']}}</h2>
      <div *ngFor="let data of subInsideList; let i = index" class="col-2">
        <div class="text-center mt-2" style="position: relative;">
          <div style="position: absolute;right: 2rem; top: 0px;cursor: pointer;" data-bs-toggle="modal"
            data-bs-target="#myMenu" (click)="showDetail(data)">
            <img src="/assets/images/icon/i-c.png" alt="" width="25px" height="25px">
          </div>
          <img [src]="data['image']" width="80px" alt=""><br>
          <span>{{i+1}}. {{data['outSubTopicName']}} ({{data['subTopicGroup']}})</span>
        </div>
      </div>
      <!-- <div class="col-2">
        <div class="text-center mt-2" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
          <img src="/assets/images/icon-package-catalog.png" width="80px" alt=""><br>
          <span><b>เพิ่มเมนู</b></span>
        </div>
      </div> -->
    </div>



  </div>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add MenuSun</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="myMenu">
  <div class="modal-dialog modal-md">
    <div class="modal-content" style="width: 600px;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detail</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div *ngIf="_showDetail" class="modal-body row" style="max-height: 600px; overflow: scroll;">
        <div class="col-8 text-center">outTopicName : <h3>{{_showDetail['outTopicName']|| _showDetail['outSubTopicName']}}</h3></div>
        <div *ngIf="!!_showDetail['imgBase64']" class="col-4 text-center"><img [src]="byPass(_showDetail)" width="60px" alt=""></div>
        <div *ngIf="!!_showDetail['image']" class="col-4 text-center"><img src="{{_showDetail['image']}}" width="60px" alt=""></div>
        <div class="col-12">
          <input type="text" [value]="_showDetail['json']" #userinput>
          <button [ngxClipboard]="userinput" value="click to copy">Copy</button>
          <button value="" (click)="upDateOpen = false">JSON</button>
          <button value="" (click)="UpdateMenuTopic();upDateOpen = true">VIEW</button>
        </div>

        <div *ngIf="upDateOpen">
          <div *ngFor="let data of MenuKey;let i = index;" class="row">
            <div class="mt-2 col-4">{{i+1}}. {{data}}</div>
            <div class="mt-2 col-8 ">
              <input *ngIf="!checkTypeOf(data) && data !== 'rules'" [disabled]="!edit" [ngClass]="{'editCss': !edit}"
                style="width: 100%;" type="text" name=" " [value]="fillterMenuKey(data)" id="">
              <!-- <input  *ngIf="checkTypeOf(data) && data !== 'rules'" [disabled]="!edit" [ngClass]="{'editCss': !edit}" style="width: 100%;" type="radio" name=" " [value]="fillterMenuKey(data)" id=""> -->
              
              <div class="form-check form-switch" *ngIf="checkTypeOf(data) && data !== 'rules'">
                <input class="form-check-input"  [disabled]="!edit"
                  [ngClass]="{'editCss': !edit}" type="checkbox"  id="mySwitch" [name]="data"
                  [value]="fillterMenuKey(data)" checked>
              </div>

              <div *ngIf="data == 'rules'">
                <div *ngFor="let role of ObjectReturn(_showDetail[data][0])">
                  <div *ngIf="role == 'roleUser' && !edit ">
                    <b>{{role}}</b>
                    <div class="ml-2" *ngFor="let typexx of ObjectReturn(_showDetail[data][0][role][0]);let i = index;">
                      <span style="margin-left: 1rem;margin-right: 15px;">{{i+1}}. {{typexx}}</span>
                      <div style="float: right;">[<span>{{_showDetail[data][0][role][0][typexx]}}</span>]</div>
                    </div>
                  </div>
                  <div *ngIf="role == 'roleUser' && edit ">
                    <b>{{role}}</b>:<input type="text" style="height: auto; width: 100%;overflow: scroll;"
                      [value]="isJSON(_showDetail[data][0][role][0])" name="" id="">
                  </div>

                  <div *ngIf="role == 'location' && !edit">
                    <b>{{role}}</b>
                    <div style="max-height: 200px; overflow: scroll;" class="row">
                      <div class="col-3" style="height: auto; width: 100%;"
                        *ngFor="let type of _showDetail[data][0][role];let i = index;">
                        <div>{{i+1}}. {{type}}</div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="role == 'location' && edit ">
                    <b>{{role}}</b>:<input type="text" style="height: auto; width: 100%;overflow: scroll;"
                      [value]="isJSON(_showDetail[data][0][role])" name="" id="">
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <div *ngIf="!upDateOpen">
          <pre><code>{{_showDetail['json']}}</code></pre>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="!edit && !deleteMenu && upDateOpen" type="button" class="btn btn-warning" (click)="edit = !edit">แก้ไข</button>
        <button *ngIf="!edit && !deleteMenu && upDateOpen" type="button" class="btn btn-danger"  (click)="setTimeout();deleteMenu = !deleteMenu">Delete</button>

        <button *ngIf="edit && upDateOpen" type="button" [disabled]="countDel" class="btn btn-success">ยืนยันการแก้ไข</button>
        <button *ngIf="edit && upDateOpen" type="button" class="btn btn-danger ml-2"(click)="edit = !edit">ยกเลิก</button>
        <!-- </div> -->
        <button *ngIf="deleteMenu && upDateOpen" type="button" class="btn btn-success" (click)="deleteMenuTopic()">ยืนยันการลบเมนู</button>
        <button *ngIf="deleteMenu && upDateOpen" type="button" class="btn btn-danger ml-2"(click)="deleteMenu = !deleteMenu">ยกเลิก</button>

        <button *ngIf="!edit && !deleteMenu" type="button" class="btn btn-secondary" #closebutton data-bs-dismiss="modal"
          (click)="!upDateOpen">Close</button>
      </div>
    </div>
  </div>
</div>