<script>
  // Initialize tooltips
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="position: relative;">
  <div *ngIf="!!errorMessenger" class="toast show" style="position: absolute;
  z-index: 1;
  right: 1cm;
  top: 4cm;
  border: 2px solid #e88181;
  background: #f2f2f2;">
    <div class="toast-header">
      <strong class="me-auto">Error Messenger</strong>
      <button type="button" class="btn-close" (click)="open()"></button>
    </div>
    <div class="toast-body">
      <p>{{errorMessenger}}</p>
    </div>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)"><img src="/assets/images/Icon Easy Plus AIS 6.png" width="80px"
        alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" style="font-size: 24px;">TOOLKIT</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <h2>MENU NEWLGOIN</h2>
  <form [formGroup]="myForm">
    <select id="Roleuser" formControlName="Roleuser">
      <option value="Roleuser">{{_channel}}</option>
      <option *ngFor="let _channel of roleList">{{_channel}}</option>
    </select>

    <select formControlName="channelType">
      <option [value]="_channelType">{{_channelType}}</option>
      <option *ngFor="let _channelType of channelTypeList">{{_channelType}}</option>
    </select>
    <input type="text" placeholder="locationCode" formControlName="locationCode">
    <button type="submit" (click)="getDataMenu()" style="width: 80px;">Click</button>
    <button type="submit" (click)="getDataMenuAll()" style="width: 80px;">All</button>
    <button (click)="clear()" style="width: 80px;">Clear</button>
  </form>
  <div>
    <hr>
    <h2>MENU TOPIC</h2>
    <button (click)="openhide = !openhide">ซ่อน/แสดง</button>
    <div class="row">
      <div *ngFor="let data of dataList; let i = index" class="col-2" style="position: relative;">
        <div style="position: absolute;right: 2rem; top: 0px;cursor: pointer;" data-bs-toggle="modal"
          data-bs-target="#myMenu" (click)="showDetail(data)">
          <img src="/assets/images/icon/i-c.png" alt="" width="25px" height="25px">
        </div>
        <div class="text-center mt-2" (click)="showSubTopic(data['outTopicGroup'])">
          <div *ngIf="!data['imgBase64']" style="width: 80px;height: 80px;"></div>
          <img *ngIf="data['imgBase64']" [src]="byPass(data)" width="80px" alt=""><br>
          <span>{{i+1}}. {{data['outTopicName']}}</span>
        </div>
      </div>
      <div class="col-2">
        <div class="text-center mt-2" type="button" data-bs-toggle="modal" data-bs-target="#myModal"
          (click)="templatMenuTopic(dataList[0],false)">
          <!-- <div class="Add-icon"> -->
          <img src="/assets/images/icon-package-catalog.png" width="80px" alt=""><br>
          <span><b>เพิ่มเมนู</b></span>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="openhide">
      <div *ngFor="let data of dataListOff; let i = index" class="col-2" style="position: relative; opacity: 50%;">
        <div style="position: absolute;right: 2rem; top: 0px;cursor: pointer;" data-bs-toggle="modal"
          data-bs-target="#myMenu" (click)="showDetail(data)">
          <img src="/assets/images/icon/i-c.png" alt="" width="25px" height="25px">
        </div>
        <div class="text-center mt-2" (click)="showSubTopic(data['outTopicGroup'])">
          <div *ngIf="!data['imgBase64']" style="width: 80px;height: 80px;"></div>
          <img *ngIf="data['imgBase64']" [src]="byPass(data)" width="80px" alt=""><br>
          <span>{{i+1}}. {{data['outTopicName']}}</span>
        </div>
      </div>
    </div>

    <h2 class="mt-2">MENU SUB</h2>
    <button (click)="openhideSub = !openhideSub">ซ่อน/แสดง</button>
    <div class="row">
      <div *ngFor="let data of ListSub; let i = index" class="col-2">
        <div class="text-center mt-2" style="position: relative; z-index: 0;" (click)="selectMenuSub(data)">
          <div style="position: absolute;right: 2rem; top: 0px;cursor: pointer; z-index: 1;" data-bs-toggle="modal"
            data-bs-target="#myMenu" (click)="showDetail(data)">
            <img src="/assets/images/icon/i-c.png" alt="" width="25px" height="25px">
          </div>
          <img [src]="data['image']" width="80px" alt=""><br>
          <span>{{i+1}}. {{data['outSubTopicName']}} ({{data['topicGroup']||data['subTopicGroup']}})
            {{'('+data['menus']['length']+')'}} </span>
        </div>
      </div>

      <div class="col-2">
        <div class="text-center mt-2" type="button" data-bs-toggle="modal" data-bs-target="#myModal"
          (click)="templatMenuTopic(ListSub[0],false)">
          <!-- <div class="Add-icon"> -->
          <img src="/assets/images/icon-package-catalog.png" width="80px" alt=""><br>
          <span><b>เพิ่มเมนู</b></span>
        </div>
      </div>
    </div>
    <!-- THIS SUB OFF -->
    <div class="row" *ngIf="openhideSub">
      <div *ngFor="let data of dataSubListOff; let i = index" class="col-2">
        <div class="text-center mt-2" style="position: relative; z-index: 0;opacity: 50%;" (click)="selectMenuSub(data)">
          <div style="position: absolute;right: 2rem; top: 0px;cursor: pointer; z-index: 1;" data-bs-toggle="modal"
            data-bs-target="#myMenu" (click)="showDetail(data)">
            <img src="/assets/images/icon/i-c.png" alt="" width="25px" height="25px">
          </div>
          <img [src]="data['image']" width="80px" alt=""><br>
          <span>{{i+1}}. {{data['outSubTopicName']}} ({{data['topicGroup']||data['subTopicGroup']}})
            {{'('+data['menus']['length']+')'}} </span>
        </div>
      </div>
    </div>
    <!-- subInsideList -->
    <div class="row" *ngIf="subInsideList['length'] > 0">
      <h2 class="mt-2">{{selectSub['topicGroup']}} > {{selectSub['outSubTopicName']}}</h2>
      <div *ngFor="let data of subInsideList; let i = index" class="col-2">
        <div class="text-center mt-2" style="position: relative;">
          <div style="position: absolute;right: 2rem; top: 0px;cursor: pointer;" data-bs-toggle="modal"
            data-bs-target="#myMenu" (click)="showDetail(data)">
            <img src="/assets/images/icon/i-c.png" alt="" width="25px" height="25px">
          </div>
          <img [src]="data['image']" width="80px" alt=""><br>
          <span>{{i+1}}. {{data['outSubTopicName']}} ({{data['subTopicGroup']}})</span>
        </div>
      </div>
      <div class="col-2">
        <div class="text-center mt-2" type="button" data-bs-toggle="modal" data-bs-target="#myModal"
          (click)="templatMenuTopic(subInsideList[0],true)">
          <!-- <div class="Add-icon"> -->
          <img src="/assets/images/icon-package-catalog.png" width="80px" alt=""><br>
          <span><b>เพิ่มเมนู</b></span>
        </div>
      </div>
    </div>



  </div>
</div>
<!-- UPDATE -->
<div class="modal" id="myMenu">
  <div class="modal-dialog modal-md">
    <div class="modal-content" style="width: 600px;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detail</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div *ngIf="_showDetail" class="modal-body row" style="max-height: 600px; overflow: scroll;">
        <div class="col-8 text-center">outTopicName : <h3>{{_showDetail['outTopicName']||
            _showDetail['outSubTopicName']}}</h3>
        </div>
        <div *ngIf="!!_showDetail['imgBase64']" class="col-4 text-center"><img [src]="byPass(_showDetail)" width="60px"
            alt=""></div>
        <div *ngIf="!!_showDetail['image']" class="col-4 text-center"><img src="{{_showDetail['image']}}" width="60px"
            alt=""></div>
        <div class="col-12">
          <input type="text" [value]="_showDetail['json']" #userinput>
          <button [ngxClipboard]="userinput" value="click to copy">Copy</button>
          <button value="" (click)="upDateOpen = false">JSON</button>
          <button value="" (click)="viewMenuTopic();upDateOpen = true">VIEW</button>
        </div>

        <div *ngIf="upDateOpen">
          <form [formGroup]="myFormAddTopic" *ngFor="let data of MenuKey;let i = index;" class="row">
            <div class="mt-2 col-4">{{i+1}}. {{data}}</div>
            <div class="mt-2 col-8 ">
              <div *ngIf="!checkTypeBoolean(data) && data !== 'rules'" style="width: 100%;">
                <input *ngIf="!edit" type="text" [ngClass]="{'editCss': !edit}" [value]="fillterMenuKey(data)" disabled
                  style="width: 100%;color: black;">
                <input *ngIf="edit && data !== 'topicGroup'" type="text" [formControlName]="data" [placeholder]="fillterMenuKey(data)"
                  style="width: 100%;">
              </div>

              <div *ngIf="checkTypeBoolean(data) && data !== 'rules'">
                {{showCheck[data]}}
                <div *ngIf="edit">
                  <button (click)="isCheck(true,data)">true</button>
                  <button (click)="isCheck(false,data)">false</button>
                </div>
              </div>

              <div *ngIf="data == 'topicGroup' && edit">
                <select [formControlName]="data" style="width: 100%;">
                  <option >{{_showDetail[data]}}</option>
                  <option *ngFor="let _topicGroup of listNameMenu" >{{_topicGroup}}</option>
                </select>
              </div>

              <div *ngIf="data == 'rules'">
                <div *ngFor="let role of ObjectReturn(_showDetail[data][0])">
                  <div *ngIf="role == 'roleUser'">
                    <b>{{role}}</b>
                    <div class="ml-2" *ngFor="let typexx of ObjectReturn(listRoleUserUpdate[0]);let i = index;">
                      <span style="margin-left: 1rem;margin-right: 15px;">{{i+1}}. {{typexx}}</span>
                      <div style="float: right;">[<span>{{_showDetail[data][0][role][0][typexx]}}]
                          <span *ngIf="edit" (click)="delButton(typexx,role)"
                            style="color: red;cursor: pointer;margin-left: 10px;">X</span>
                        </span>
                      </div>
                    </div>
                    <div *ngIf="edit">
                      <input [formControlName]="role" [placeholder]="'roleUser'" type="text"
                        style="height: auto; width: 70%;">
                      <input [formControlName]="'channelType'" [placeholder]="'channelType'" type="text"
                        style="height: auto; width: 30%;">
                      <button (click)="addButton(role)">add</button>
                    </div>
                  </div>
                  <div *ngIf="role == 'location' && !edit">
                    <b>{{role}}</b>
                    <div style="max-height: 200px; overflow: scroll;" class="row">
                      <div class="col-3" style="height: auto; width: 100%;"
                        *ngFor="let type of _showDetail[data][0][role];let i = index;">
                        <div>{{i+1}}. {{type}}</div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="role == 'location' && edit ">
                    <b>{{role}}</b>:
                    <div style="max-height: 200px; overflow: scroll;" class="row">
                      <div class="col-3" style="height: auto; width: 100%;"
                        *ngFor="let type of listLocationUpdate;let i = index;">
                        <div>{{i+1}}. {{type}}<span (click)="delButton(i,role)"
                            style="color: red;font-size: 18px;cursor: pointer;margin-left: 10px;">X</span></div>
                      </div>
                    </div>
                    <input [placeholder]="role" [formControlName]="role" type="text"
                      style="height: auto; width: 100%;overflow: scroll;">
                    <button (click)="addButton(role)">add</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="!upDateOpen">
          <pre><code>{{_showDetail['json']}}</code></pre>
        </div>
      </div>
      <div class="modal-footer">
        <span *ngIf="errorMessenger" style="color: red;font-size: 24px;">{{errorMessenger}}</span>
        <button *ngIf="!edit && !deleteMenu && upDateOpen" type="button" class="btn btn-warning"
          (click)="setTimeout();edit = !edit">แก้ไข</button>
        <button *ngIf="!edit && !deleteMenu && upDateOpen" type="button" class="btn btn-danger"
          (click)="setTimeout();deleteMenu = !deleteMenu">Delete</button>

        <button *ngIf="edit && upDateOpen" type="button" class="btn btn-success"
          (click)="updateMenu()" [disabled]="countDel">ยืนยันการแก้ไข</button>
        <button *ngIf="edit && upDateOpen" type="button" class="btn btn-danger ml-2"
          (click)="cannel();edit = !edit">ยกเลิก</button>
        <!-- </div> -->
        <button *ngIf="deleteMenu && upDateOpen" type="button" [disabled]="countDel" class="btn btn-success"
          (click)="deleteMenuTopic()">ยืนยันการลบเมนู</button>
        <button *ngIf="deleteMenu && upDateOpen" type="button" class="btn btn-danger ml-2"
          (click)="deleteMenu = !deleteMenu">ยกเลิก</button>

        <button *ngIf="!edit && !deleteMenu" type="button" class="btn btn-secondary" #closebutton
          data-bs-dismiss="modal" (click)="!upDateOpen">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Add MenuSun -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="width: 600px;">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add MenuSun</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body row" style="max-height: 600px; overflow: scroll;width: 100%;">
        <form [formGroup]="myFormAddTopic" *ngFor="let data of templatMenu;let i = index;" class="row">
          <div class="mt-2 col-4">{{i+1}}. {{data}}</div>
          <div class="mt-2 col-8 ">
            <div *ngIf="!checkTypeBoolean(data) && data !== 'rules' && data !== 'topicGroup'" style="width: 100%;">
              <input type="text" [formControlName]="data" [placeholder]="data" style="width: 100%;">
            </div>

            <div *ngIf="data == 'topicGroup'">
              <select [formControlName]="data" style="width: 100%;">
                <option >{{_showDetail[data]}}</option>
                <option *ngFor="let _topicGroup of listNameMenu" >{{_topicGroup}}</option>
              </select>
            </div>

            <div *ngIf="checkTypeBoolean(data) && data !== 'rules'">
              {{showCheck[data]}}
              <div>
                <button (click)="isCheck(true,data)">true</button>
                <button (click)="isCheck(false,data)">false</button>
              </div>
            </div>
            <div *ngIf="data == 'rules'">
              <div *ngFor="let role of ObjectReturn(_showDetail[data][0])">
                <div *ngIf="role == 'roleUser'">
                  <b>{{role}}</b>
                  <div class="ml-2" *ngFor="let typexx of ObjectReturn(listRoleUserUpdate[0]);let i = index;">
                    <span style="margin-left: 1rem;margin-right: 15px;">{{i+1}}. {{typexx}}</span>
                    <div style="float: right;">[<span>{{_showDetail[data][0][role][0][typexx]}}]
                        <span (click)="delButton(typexx,role)"
                          style="color: red;cursor: pointer;margin-left: 10px;">X</span>
                      </span>
                    </div>
                  </div>
                  <div>
                    <input [formControlName]="role" [placeholder]="'roleUser'" type="text"
                      style="height: auto; width: 70%;">
                    <input [formControlName]="'channelType'" [placeholder]="'channelType'" type="text"
                      style="height: auto; width: 30%;">
                    <button (click)="addButton(role)">add</button>
                  </div>
                </div>
                <div *ngIf="role == 'location'">
                  <b>{{role}}</b>:
                  <div style="max-height: 200px; overflow: scroll;" class="row">
                    <div class="col-3" style="height: auto; width: 100%;"
                      *ngFor="let type of listLocationUpdate;let i = index;">
                      <div>{{i+1}}. {{type}}<span (click)="delButton(i,role)"
                          style="color: red;font-size: 18px;cursor: pointer;margin-left: 10px;">X</span></div>
                    </div>
                  </div>
                  <input [placeholder]="role" [formControlName]="role" type="text"
                    style="height: auto; width: 100%;overflow: scroll;">
                  <button (click)="addButton(role)">add</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <span *ngIf="errorMessenger" style="color: red;
        font-size: 14px;
        width: 250px;
        overflow: scroll;
        height: 50px;
        border: 2px solid;">{{errorMessenger}}</span>
        <button *ngIf="!addMenu" type="button" class="btn btn-success"
          (click)="setTimeout();addMenu = !addMenu">เพิ่มเมนู</button>
        <button *ngIf="addMenu" type="button" class="btn btn-success" [disabled]="countDel"
          (click)="AddMenuTopic()">ยืนยันการเพิ่มเมนู</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="cannel();">Close</button>
      </div>

    </div>
  </div>
</div>