.Add-icon {
    width: 80px;
    height: 80px;
    // color: #9fdf3e;
    // font-size: 149px;
    // left: 47px;
    // position: relative;
    // top: -92px;
    cursor: pointer;
}
.active{
    // opacity: 50%;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    overflow: scroll;
  }
.codeText{
    width: 100%;
    height: 600px;
}

.editCss{
    border: none;
}